.list-wrap {
  width: 60vw;
  height: 70vh;
  overflow-y: scroll;
  border: 1px #e5e5e5 solid;
  border-radius: 2px;
  box-shadow: 5px 5px 5px gray;
}
.list-item_title {
  padding-right: '10px';
  font-size: 14px;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-item_title span {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
}
.flex-container {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.material-icons {
  font-size: 18px;
}
/* Virtualized list */
.List {
  border: 1px solid #d9dddd;
}
.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ListItemEven {
  background-color: #edf5fd;
}
.ListItemEven:hover,
.ListItemEven:focus,
.ListItemOdd:hover,
.ListItemOdd:focus {
  background-color: #ebebeb;
}
.ListItemEven:active,
.ListItemOdd:active {
  background-color: #cccccc;
}

@media screen and (min-width: 1281px) {
  .list-wrap {
    width: 40vw;
  }
}
@media screen and (max-width: 1280px) {
  .list-wrap {
    width: 60vw;
  }
}
@media screen and (max-width: 960px) {
  .list-wrap {
    width: 70vw;
  }
}
@media screen and (max-width: 600px) {
  .list-wrap {
    width: 90vw;
  }
  .list-item {
    padding-bottom: 2rem;
  }
  .list-item_title {
    padding-left: 10px;
    width: 100%;
  }
}
